kubernetes:
  replicas: 2
  namespace: "quepid"
django:
  debug: "0"
  secret: "<generate secure random long enough value>"
quepid:
  db:
    name: "<quepid_db>"
    user: "<user>"
    password: "<password>"
    host: "<db>"
    port: "3306"
